* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/public/bgimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  
}

.container {
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.insidecontainer {
  position: absolute;
  left: 25%;
  top: 20%;
  background: transparent;
  backdrop-filter: blur(18px);
  height: fit-content;
  width: fit-content;
  border: 2px solid white;
  border-bottom-right-radius: 60px;
  border-top-left-radius: 60px;
  padding: 30px;
  
  
}

.insidecontainer h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
  margin: 0;
}

.btncont{
  width: 100%;
  display: flex;
  justify-content: center;
}

.inputcont{
  width: 100%;
  display: flex;
  justify-content: center;
}
.inputcont input{
  width: 80px;
  height: 30px;
  padding: 7px;
  margin: 7px;
  border: 2px slategray solid;
  border-radius: 20px;
}

.insidecontainer button{
  width: 50%;
  height: 3rem;
  outline: none;
  margin: 10px;
  border: 2px solid rgb(176, 171, 171);
  border-radius: 5px;

  
}

.resultcont{
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h5{
  padding: 10px;
  font-weight: 600;
  margin: 0px;
}

.insidecontainer button:hover{
  border: none;
}




.inputcont input:focus{
  background-color: rgb(236, 227, 216);
  border:2px solid rgb(255, 255, 255) ;
  border-radius: 2px;
  outline: none;
}